* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('/image/it.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.titre {
    text-align: center;
}

.message {
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    border: 2px solid rgb(124, 124, 124);
}




.btn {
    background-color: rgb(32, 120, 170);
}
.btn:hover {
    background-color: rgb(71, 172, 255);
}

.bg-self {
    background-color: rgb(0, 143, 209);
}

.bg-foreign {
    background-color: rgb(82, 82, 82);
}