* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../image/it.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}


.titre {
    text-align: center;
}

.message {
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    border: 2px solid rgb(124, 124, 124);
}

.input-group {
    position: relative;
    margin-bottom: 25px;

}

.input-box {
    outline: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 10px;
    width: 100%;

}

.label {
    position: absolute;
    left: 5px;
    top: 10px;
}

.input-box:focus~label,
.input-box:not(:placeholder-shown)~label {
    top:  -20px;
    font-size: .9rem;
    color: rgb(97, 173, 235);
}

.input-box:focus {
    border-width: 2px;
    border-bottom-color: rgb(63, 132, 192);
}



.btn {
    background-color: rgb(32, 120, 170);
}
.btn:hover {
    background-color: rgb(71, 172, 255);
    color: white;
}

.bg-self {
    background-color: rgb(0, 143, 209);
}

.bg-foreign {
    background-color: rgb(82, 82, 82);
}

.bg-blue {
    background-image: linear-gradient(
        145deg,
        rgba(0, 136, 255, 0.66),
        rgba(0, 136, 255, 0.292),
        rgba(0, 136, 255, 0.08),
        rgba(0, 136, 255, 0.553)
    );
}